@charset "UTF-8";
* {
    margin: 0 auto;
    padding: 0;
    border: 0;
    list-style: none;
}

body {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    /*보는 페이지의 100%를 채워라*/
    width: 100vw;
    height: 100vh;

}

a{
    text-decoration: none;
    color: inherit;
}

.clear{
    clear: both;
}

header {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;
    height: 80px;

    background-color: rgb(238, 236, 236);
}

.wrap {
    width: 1200px;
}


/* 배경 */

/* 심볼 */
#symbol{
    margin-left: 900px;
    margin-top: 30px;
    width: 250px;
    height: 250px;

}

/* 로고 */
.logo {
    width : 190px;
    height: 65px;
    overflow: hidden;
    float: left;
    margin-top: 3px;
}

.logo img {
    width: 100%;
    height: 100%;
}

/* 메뉴 */
nav {
    float: right;
}

.menu {
    width: 600px;
    padding-top: 20px;
}

.menu>li {
    width: 200px;
    float: left;
    line-height: 60px;
    position: relative;
    color: black;
    text-align: center;
    transition: all 0.4s;
}

.menu>li:hover {
    background-color: purple;
    color: white;
}

/* 서브메뉴 */
#back {
    /* display: none; */
    width: 100vw;
    height: 300px;
    position: absolute;
    z-index: 10;
    top: 80px;
    background-color: white;
    border: 0.1px solid blue;
    display: none;
}

.container {
    width: 1300px;
    height: 300px;
    text-align: center;
    display: flex;
    overflow: hidden;
    z-index: 99;
}

.category {
    position: absolute;
    width: 1300px;
    height: 230px;
    margin-top: 30px;
    margin-left: 50px;
    text-align: left;
}

.c_a {
    font-size: 25px;
}

.submenu {
    margin-top: 20px;
}

.submenu > li {
    height: 30px;
}

.degree{
    color: blue;
    font-weight: bold;
}

.software>a:hover{
    color: blue;
    font-weight: bold;
}

#cg1 {
    display: none;
    z-index: 999;
}

#cg2{
    padding-top: 60px;
    display: none;
    z-index: 999;
}

#cg2 > a {
    font-size: 20px;
}

#cg3{
    padding-top: 60px;
    display: none;
    z-index: 999;
}

#cg3 > a {
    font-size: 20px;
}

/* 메인 */
main {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: center;

    flex: 1;
    width: 100%;
    height: 100%;

}

.main_text{
    position: absolute;
    width: 95%;
    height: 100%;
}

.main_text > img{
    width: 100%;
    height: 100%;
}

/* 풋터 */
footer {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100px;

    background-color: rgb(238, 236, 236);
}

.footer_div{
    width: 1200px;
    height: 100px;
}

.foot_address{
    float: left;
    width: 650px;
    margin-top: 10px;
}

.foot_address>span{
    color: gray;
}

.foot_tel{
    width: 650px;
    margin-top: 10px;
    float: left;
}

.foot_tel>span{
    color: gray;
}

.foot_copy{
    width: 650px;
    float: left;
    margin-top: 10px;
}


.foot_copy>span{
    color: gray;
}

.foot_img{
    margin-left: 150px;
    margin-top: 7px;
}